astropy==4.3.1
Brotli==1.0.9
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==0.13.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distl==0.3.1
emcee==3.1.1
Flask==2.0.1
Flask-Compress==1.10.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
ligeor==1.0b0
MarkupSafe==2.0.1
matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.3
Pillow==8.3.2
plotly==5.3.1
pyerfa==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scipy==1.7.0
six==1.16.0
tenacity==8.0.1
urllib3==1.26.6
Werkzeug==2.0.1
whitenoise==5.3.0
